html * {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: black;
}
nav {
   background-color: black;
   overflow: hidden;
   position: fixed;
}

nav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px
}

nav a:hover {
   background-color: #ddd;
   color: black;
}

nav a.active {
   background-color: #04AA6d;
   color: white;
}

header {
   padding: 80px;
   text-align: center;
   color: white;
}

header h1 {
   font-size: 40px;
}

.about {
   color: white;
   padding: 20px;
   text-align: left;
   margin-left: 20px;
}

.about p {
   line-height: 150%;
}


.projects {
   margin-left: 20px;
   padding: 20px;
}

.projects h1 {
   font-size: 40px;
   color: white;
   text-align: center;
   padding-top: 20px;
}

.project h1 {
   font-size: 30px;
   color: white;
   text-align: left;
}